.Container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #1D202B;
}

.PostList { 
  width: 100%;
  margin-left: 350px;
  height: 100%;
  overflow-y: auto;
  background-color:#EEF5F9;
}
