<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>SignUp</title>
    <script src="../scripts/sessionStorage.js" defer></script>
    <script src="../scripts/refreshToken.js" defer></script>
    <script src="../scripts/httpRequest.js" defer></script>
    <script src="../scripts/signup.js" defer></script>
</head>
<body>
    <header>
        <nav id="navigation">
            <h1>My App</h1>
            <ul>
                <li><a href="../templates/login.html">Login</a></li>
            </ul>
        </nav>
    </header>
    <div class="form-input">
        <section id="signup">
            <h2>SignUp</h2>
            <form>
                <div class="form-control">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-control">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>  
                </div>
                <div class="form-control">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-control">
                    <label for="confirm-password">Confirm password:</label>
                    <input type="password" id="confirm-password" name="confirm-password" required>
                </div> 
                <button type="submit">SignUp</button>
            </form>
        </section>
    </div>
</body>
</html>
